.ui-container
	%p#notice= notice

	%p
		%b Vendor Id:
		= @clinic.vendorid
	%p
		%b Name:
		= @clinic.name
	%p
		%b Address:
		= @clinic.address
	%p
		%b Model ID:
		= @clinic.model_id
	%p
		%b Admin:
		= @clinic.admin
	%p
		%b Email:
		= @clinic.email
	%p
		%b Province:
		= @clinic.province
	%p
		%b VSID:
		= @clinic.vsid
	%p
		%b VSVENDORID:
		= @clinic.vsvendorid

	= link_to 'Edit', edit_clinic_path(@clinic)
	\|
	= link_to 'Back', clinics_path
