.fee-container
	%h2 Membership Fees

	%h5 Please enter the following data to compute the monthly membership fee due. 
	%h5 
		If you are having any difficulties, please use the feedback button on the left of the page. Also check out the list of 
		%a{:href=>"javascript:showBrowsers()"}
			supported browsers.
	%br
	= form_for @membership_fee do |f|
		- if @membership_fee.errors.any?
			#error_explanation
				%h2= "#{pluralize(@membership_fee.errors.count, "error")} prohibited this membership_fee from being saved:"
				%ul
					- @membership_fee.errors.full_messages.each do |msg|
						%li= msg
		.field
			= f.label :clinic, :class=>"padded-label"
			%span#clinic-select
				= f.text_field :clinic, :style=>"width: 200px;", :autofocus => true
				Type to search
			%span#change-link
			#clinic-display-box
				%span#clinic-display
					Test Clinic 1
				#change-button.change-button
				%br
			= f.hidden_field :clinic_id
			
		.field.hidden
			= f.label :checknumber, :class=>"padded-label"
			= f.text_field :checknumber, :style=>"width: 200px"
		%p
		%span.bold{:style=>"padding-right: 35px;"}
			Month
		= f.select :month, @months
		= f.select :year, @years, :selected=>"2015"
		%p
		.fee-data
			.fee-overlay
				%br
				You must select a clinic first
			%br
			%table.finance-table
				%tr
					%td{:style=>"width: 320px"}
						%span{:style => "font-weight: bold;"}
							Receipts
						%span{:style=>"font-size: 12px"}
							($ collected from exams/sales)
					%td
						= f.text_field :receipts, :class=>"money-input"
				%tr
					%td.indent30#cc-lbl
						.minus
						%span
							Credit Card Processing Fee
					%td
						= f.text_field :creditcard, :class=>"money-input"
				%tr
					%td.indent30#ref-lbl
						.minus
						%span
							Refunds to Patients
					%td
						= f.text_field :refunds, :class=>"money-input"
				%tr
					%td.indent30#tax-lbl
						.minus
						%span
							Sales Tax Paid by Patient
					%td
						= f.text_field :tax, :class=>"money-input"
				%tr
					%td.underline{:style=>"padding-bottom: 5px;"}
						Adjusted Gross Receipts
					%td.underline
						#adjusted-receipts
							0.00
				%tr#override-row{:style=>"display: none;"}
					%td.bold
						Fee Override (enter value)
					%td.fee-td
						= text_field_tag "fee-override", "0.00", :id=>"fee-override", :style=>"money-input  hidden; text-align: right;"
				%tr#fee-row
					%td
						Fee
					%td.fee-td
						#adjust-link
							=link_to "Override", "#", id: "override-link", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
						#fee
							0.00
				%tr
					%td 
						%span#tax-name 
							Provincial Tax ()
					%td.tax-td
						#taxes
							0.00
						= f.text_field :taxadd, :class=>"money-input hidden"
						
				%tr
					%td.bold
						Membership Fee Due
					%td.fee-td
						#membership-fee.bold
							0.00
						= f.text_field :fee, :class=>"money-input", :class=>"money-input hidden"
				%tr
					%td.bold
						Email receipt to
					%td.fee-td
						#membership-fee.bold
							= text_field_tag "clinic_email"

		%br		
		= f.submit 'Save Fees', :id=>"saveButton", :class=>"confirm btn btn-primary", :style=>"width: 200px;"
	%h3 
		Fee Schedule
	= render partial: "fees", :locals => {:fees => @feesA, :display=>"none", :id=>1}	
	= render partial: "fees", :locals => {:fees => @feesB, :display=>"block", :id=>2}	