.fee-container
	%h1 Membership Fees

	%h3 Please enter the following data to compute the montly membership fee due. 
	= form_for @membership_fee do |f|
		- if @membership_fee.errors.any?
			#error_explanation
				%h2= "#{pluralize(@membership_fee.errors.count, "error")} prohibited this membership_fee from being saved:"
				%ul
					- @membership_fee.errors.full_messages.each do |msg|
						%li= msg
		.field
			= f.label :clinic, :class=>"padded-label"
			%span#clinic-select
				= f.text_field :clinic, :style=>"width: 200px;", :autofocus => true
				Type to search
			%span#change-link
			#clinic-display-box
				%span#clinic-display
					Test Clinic 1
				#change-button.change-button
				%br
			= f.hidden_field :clinic_id
			
		.field.hidden
			= f.label :checknumber, :class=>"padded-label"
			= f.text_field :checknumber, :style=>"width: 200px"
		.field
			= f.label :month, :class=>"padded-label"
			= f.select :month, @months
			= f.select :year, @years, :selected=>"2014"

		.fee-data
			.fee-overlay
				%br
				%br
				You must select a clinic first
			%table.finance-table
				%tr
					%td
						= f.label :receipts
					%td
						= f.text_field :receipts, :class=>"money-input"
				%tr
					%td.indent30#cc-lbl
						.minus
						= f.label :creditcard, "Credit Card Processing Fee"
					%td
						= f.text_field :creditcard, :class=>"money-input"
				%tr
					%td.indent30#ref-lbl
						.minus
						= f.label :refunds, "Refunds to Patients"
					%td
						= f.text_field :refunds, :class=>"money-input"
				%tr
					%td.indent30#tax-lbl
						.minus
						= f.label :tax, "Sales Tax Paid by Patient"
					%td
						= f.text_field :tax, :class=>"money-input"
				%tr
					%td.underline
						Adjusted Gross Receipts
					%td.underline
						#adjusted-receipts
							0.00
				%tr
					%td.bold
						Membership Fee Due
					%td.fee-td
						#membership-fee.bold
							0.00
						#adjust-link
							=link_to "Override", "#", id: "override-link", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
						= f.text_field :fee, :class=>"money-input", :class=>"money-input hidden"
		%br		
		= f.submit 'Submit Fees', :id=>"saveButton", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"width: 200px;"
	%h3 
		Fee Schedule
	= render partial: "fees", :locals => {:fees => @feesA, :display=>"none", :id=>1}	
	= render partial: "fees", :locals => {:fees => @feesB, :display=>"block", :id=>2}	