%h1 Listing fees

%table
  %tr
    %th From
    %th To
    %th Fee
    %th
    %th
    %th

  - @fees.each do |fee|
    %tr
      %td= fee.from
      %td= fee.to
      %td= fee.fee
      %td= link_to 'Show', fee
      %td= link_to 'Edit', edit_fee_path(fee)
      %td= link_to 'Destroy', fee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fee', new_fee_path
