%table#clinicReport{:cellpadding=>0, :cellspacing=>0}
	%tr
		%td
		%td.report-header
			Vendor Id
		%td.report-header
			VS Id
		%td.report-header
			Clinic
		%td.report-header
			Address
		%td.report-header
			Month
		%td.report-header
			Year
		%td.report-header
			Receipts
		%td.report-header
			Credit Card
		%td.report-header
			Refunds
		%td.report-header
			Tax
		%td.report-header
			Prov. Tax
		%td.report-header
			Fed. Tax
		%td.report-header
			Fee
		%td.report-header
			Fee + Taxes
		%td.report-header
			Date Received
		%td.report-header
			Status

	- feeArray.each do |fee|
		%tr{:id=>"table_row_" + fee.id.to_s }
			%td
				= link_to "View", "/membership_fees/" + fee.id.to_s, :id=>"view_button_" + fee.id.to_s, :class=>"item-view-button"
				-if @status == 'inactive'
					= link_to "Restore", "javascript:restoreFee(#{fee.id});", :id=>"del_button_" + fee.id.to_s, 	:class=>"item-view-button"
				-else
					= link_to "Remove", "javascript:removeFee(#{fee.id});", :id=>"del_button_" + fee.id.to_s, :class=>"item-view-button"
				= link_to "Save", "javascript:saveDates(#{fee.id});", :id=>"save_button_" + fee.id.to_s, :class=>"date-save-button"
				= link_to "Cancel", "javascript:cancelEdit(#{fee.id});", :id=>"cancel_button_" + fee.id.to_s, :class=>"date-cancel-button"
			%td
				= fee.clinic.vendorid
			%td
				= fee.clinic.vsid
			%td
				= fee.clinic.name
			%td
				= fee.clinic.address
			- logger.debug("LOOKING FOR: " + @months.to_s)
			%td{:id=>fee.id.to_s + "_month", :class=>"month-edit-toggle", :data => {:id => fee.id, :month=>fee.month } }
				.date-label{:id=>fee.id.to_s + "_lbl_month"}
					= fee.month 
				.date-form-field{:id=>fee.id.to_s + "_form_month"}
					= select_tag 'month', options_for_select(@months, fee.month), :id=>"month_select_" + fee.id.to_s, :class=>"month_select"
				
			%td{:id=>fee.id.to_s + "_year", :class=>"year-edit-toggle", :data => {:id => fee.id, :year=>fee.year }}
				.date-label{:id=>fee.id.to_s + "_lbl_year"}
					= fee.year		
				.date-form-field{:id=>fee.id.to_s + "_form_year"}
					= select_tag 'year', options_for_select(@years, fee.year), :id=>"year_select_" + fee.id.to_s, :class=>"year_select"
					
			%td
				= number_with_precision(fee.receipts, precision: 2)			
			%td
				= number_with_precision(fee.creditcard, precision: 2)
			%td
				= number_with_precision(fee.refunds, precision: 2)
			%td
				= number_with_precision(fee.tax, precision: 2)	
			- prate = Tax.where(:province => fee.clinic.province).first.prate/100
			- frate = (Tax.where(:province => fee.clinic.province).first.rate/100)-prate
			%td
				= number_with_precision(((fee.fee - fee.taxadd) * (frate)), precision: 2)	
			%td
				= number_with_precision(((fee.fee - fee.taxadd) * (prate)), precision: 2)
			%td
				= number_with_precision((fee.fee - fee.taxadd), precision: 2)
			%td
				= number_with_precision((fee.fee), precision: 2)
			%td
				= fee.created_at
			%td
				= fee.record_status
