%table#clinicReport{:cellpadding=>0, :cellspacing=>0}
	%tr
		%td
		%td.report-header
			Vendor Id
		%td.report-header
			VS Id
		%td.report-header
			Clinic
		%td.report-header
			Address
		%td.report-header
			Month
		%td.report-header
			Year
		%td.report-header
			Receipts
		%td.report-header
			Credit Card
		%td.report-header
			Refunds
		%td.report-header
			Tax
		%td.report-header
			Added Taxes
		%td.report-header
			Fee
		%td.report-header
			Date Received

	- feeArray.each do |fee|
		%tr
			%td
				= link_to "View", "/membership_fees/" + fee.id.to_s
			%td
				= fee.clinic.vendorid
			%td
				= fee.clinic.vsid
			%td
				= fee.clinic.name
			%td
				= fee.clinic.address
			%td
				= fee.month 
			%td
				= fee.year			
			%td
				= number_with_precision(fee.receipts, precision: 2)			
			%td
				= number_with_precision(fee.creditcard, precision: 2)
			%td
				= number_with_precision(fee.refunds, precision: 2)
			%td
				= number_with_precision(fee.tax, precision: 2)				
			%td
				= number_with_precision(fee.taxadd, precision: 2)
			%td
				= number_with_precision(fee.fee, precision: 2)
			%td
				= fee.created_at
