.report-container
	%h2
		Reporting Interface
	%h3	
		View Clinic Submissions
	.clinic-select
		= autocomplete_field_tag "name", "", autocomplete_clinic_name_membership_fees_path, :id_element=>"#clinicid", :style=>"width: 200px;", :autofocus => true
		Type to search
		= text_field_tag "clinicid", nil, :id=>"clinicid", :style=>"display: none"
		= link_to "run", "javascript:doClinicReport();", id: "clinic-link"
		
	%h3
		View Submissions by Month
	.date-select	
		= select('month', 'id', @months)
		= select('year', 'id', @years)
		= link_to "run", "javascript:doDateReport()", id: "date-link"
		
		
	