.report-container
	- if @mode == "clinic"
		%h3 Clinic Report for #{@clinic.name}
		= link_to "Export to CSV", "/reports/show.csv?mode=clinic&clinic=" + @clinic.id.to_s
		= render partial: "feetable", :locals => {:feeArray => @memeber_fees}
		= link_to "Export to CSV", "/reports/show.csv?mode=clinic&clinic=" + @clinic.id.to_s
	- elsif @mode == "date"
		%h3 Report for #{@month}, #{@year}
		= link_to "Export to CSV", "/reports/show.csv?mode=month&month=" + @month + "&year=" + @year
		= render partial: "feetable", :locals => {:feeArray => @memeber_fees}
		= link_to "Export to CSV", "/reports/show.csv?mode=month&month=" + @month + "&year=" + @year
	- elsif @mode == "submit"
		%h3 Report for Fees submitted in #{@month}, #{@year}
		= link_to "Export to CSV", "/reports/show.csv?mode=month&month=" + @month + "&year=" + @year
		= render partial: "feetable", :locals => {:feeArray => @memeber_fees}
		= link_to "Export to CSV", "/reports/show.csv?mode=month&month=" + @month + "&year=" + @year
